body{
    /* background-color: #f7ecde; */
    background-image: url(../icegif-352.gif);
    background-position: center;
    background-size: cover;
    background-clip: content-box;
    font-family: "PT Sans Caption", sans-serif;
}
::selection{
    background-color:#CF0F47 ;
    color: #352e28;
}
h1{
    width: fit-content;
    position: relative;
    z-index: 2;
    font-family: "Pacifico", cursive;
    color: #352e28;
    font-size: 50px;
}
h1::before{
    content: "";
    height: 30%;
    width: 100%;
    background-color: #A5158C;
    position: absolute;
    bottom: 5%;
    z-index: -1;
    transition: all 0.5s;
}
h1:hover::before{
    height: 65%;
}
h3{
    width: fit-content;
    margin: auto;
    font-family: "Righteous", sans-serif;
    font-size: 25px;
    background-image: linear-gradient(to right, #CF0F47, #A5158C);
    background-clip: text;
    -webkit-background-clip: text ;
    -webkit-text-fill-color: transparent;
}
.favorite-bookmark{
    border-width: 2px 0 2px 0;
    border-style: dotted;
    border-color: #352e28;
}
.form-control {
    background-color: #ffffff6a;
 }
.form-control:focus{
  color: #212529;
  background-color: #fff;
  /* border-color: #d99c39; */
  border-color: #A5158C;
  /* box-shadow: 0 0 0 0.25rem #fec26055; */
  box-shadow: 0 0 0 0.25rem #CF0F47;
}
.table{
    background-color: #ffffff6a !important;
    --bs-table-bg: unsit;
}
.btn-visit{
    color: white;
    background-color: #9eb23b;
    border-color: #9eb23b;
}
.btn-visit:hover{
    background-color: #8a9e23;
    border-color: #6e8018;
    color: #fff;
}
.btn-delete{
    color: white;
    background-color: #eb1d36;
    border-color: #eb1d36;
}
.btn-delete:hover{
    background-color: #d30820;
    border-color: #ba081d;
    color: #fff;
}